{{ partial "header.html" . }}

<main id="main-content">
  {{ partial "banner.html" . }}
  <section class="grid-container usa-section">
    {{ if .Params.tagline }}
    <div class="usa-width-one-third">
      <h2 class="plandoc-tagline">{{ .Params.tagline | htmlEscape }}</h2>
    </div>
    <div class="usa-width-two-thirds">
    {{ else }}
    <div class="usa-width-one-whole">
    {{ end }}
      {{ partial "comments_alert.html" . }}
      <div class="plandoc-content">
        {{ if not .IsHome }}
        <h1><span class="title">{{ .Title }}</span></h1>
        {{ end }}
        {{ .Content }}
      </div>
    </div>
  </section>
  {{ if .IsHome }}
  {{ partial "menu_graphic_list.html" . }}
  {{ else }}
  {{ partial "pages_graphic_list.html" . }}
  {{ end }}
</main>

{{ partial "footer.html" . }}
