{{ partial "header.html" . }}

<main id="main-content">
  {{ partial "banner.html" . }}
  <section class="grid-container usa-section">
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-3">
        {{/* 
          The content needs to be processed before the sidebar is rendered so
          that sidebar shortcodes work correctly.
        */}}
        {{ $dummy := .Content }}
        {{ partial "sidebar_content.html" (.Page.Scratch.Get "sidebar-top") }}
        {{ partial "section_menu.html" . }}
        {{ partial "sidebar_content.html" (.Page.Scratch.Get "sidebar-bottom") }}
      </div>
      <div class="usa-layout-docs-main_content desktop:grid-col-9 usa-prose plandoc-content">
        {{ partial "comments_alert.html" . }}
        <h1><span class="title">{{ .Title }}</span></h1>
        {{ .Content }}
      </div>
    </div>
  </section>
</main>

{{ partial "footer.html" . }}
