{{ $image := .Resources.GetMatch "banner.*" }}
{{ if $image }}
<section class="usa-hero" style="background-image: url('{{ $image.RelPermalink }}');">
  <div class="grid-container">
    {{ if or .Params.bannerHeading .Params.bannerText }}
    <div class="usa-hero__callout">
      <h1 class="usa-hero__heading">{{ .Params.bannerHeading }}</h1>
      {{ if .Params.bannerText }}<p>{{ .Params.bannerText }}</p>{{ end }}
      {{ if and .Params.bannerAction .Params.bannerUrl }}
      <a class="usa-button" href="{{ .Params.bannerUrl | relURL }}">{{ .Params.bannerAction }}</a>
      {{ end }}
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
