{{ if .Site.Params.comments.alert }}
<div class="usa-alert usa-alert--info plandoc-comments-alert" >
  <div class="usa-alert__body">
    <h3 class="usa-alert__heading plandoc-nocomment">
      {{ with .Site.Params.comments.title }}
        {{ . }}
      {{ else }}
        Public Comment Period
      {{ end }}
    </h3>
    <p class="usa-alert__text">
      {{ .Site.Params.comments.alert }}
      {{ with .Site.Params.comments.email }}
        To provide a comment, click the <ion-icon name="chatbubbles"></ion-icon>
        icon next to a section heading, or e-mail
        <a href="mailto:{{ . }}">{{ . }}</a>.
      {{ end }}
    </p>
  </div>
</div>
{{ end }}
