  <footer class="usa-footer usa-footer--medium" role="contentinfo">
    <div class="grid-container usa-footer__return-to-top">
      <a href="#">Return to top</a>
    </div>
    {{ partial "footer_custom.html" . }}
    <div class="usa-footer__primary-section">
      <nav class="usa-footer__nav">
        <ul class="add-list-reset grid-row grid-gap">
          {{ range .Site.Menus.main }}
          <li class="mobile-lg:grid-col-4 desktop:grid-col-2 usa-footer__primary-content">
            <a class="usa-footer__primary-link" href="{{ .URL }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      </nav>
    </div>

    <div class="usa-footer__secondary-section">
      <div class="grid-container">
        <div class="grid-row grid-gap">
          <div class="plandoc-footer-logo usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
            <div class="mobile-lg:grid-col-auto">
              <a href="{{ if .Site.Params.agency.url }}{{ .Site.Params.agency.url }}{{ else }}{{ .Site.BaseURL }}{{ end }}">
                {{ if .Site.Params.agency.logo }}
                  <img class="usa-footer__logo" src="{{ .Site.Params.agency.logo | relURL }}" alt="{{ .Site.Params.agency.name }}">
                {{ else }}
                  <h3 class="usa-footer__logo-heading">{{ if .Site.Params.agency.name }}{{ .Site.Params.agency.name }}{{ else }}{{ .Site.Title }}{{ end }}</h3>
                {{ end }}
              </a>
            </div>
          </div>
          <div class="usa-footer__contact-links mobile-lg:grid-col-6">
            <div class="usa-footer__social-links grid-row grid-gap-1">
              {{ if .Site.Params.agency.facebook }}
              <div class="grid-col-auto">
                <a class="usa-social-link usa-social-link--facebook" href="{{ .Site.Params.agency.facebook }}">
                  <span>Facebook</span>
                </a>
              </div>
              {{ end }}
              {{ if .Site.Params.agency.twitter }}
              <div class="grid-col-auto">
                <a class="usa-social-link usa-social-link--twitter" href="{{ .Site.Params.agency.twitter }}">
                  <span>Twitter</span>
                </a>
              </div>
              {{ end }}
              {{ if .Site.Params.agency.youtube }}
              <div class="grid-col-auto">
                <a class="usa-social-link usa-social-link--youtube" href="{{ .Site.Params.agency.youtube }}">
                  <span>YouTube</span>
                </a>
              </div>
              {{ end }}
              <div class="grid-col-auto">
                <a class="usa-social-link usa-social-link--rss" href="{{ "/index.xml" | relURL }}">
                  <span>RSS</span>
                </a>
              </div>
            </div>
            <h3 class="usa-footer__contact-heading">{{ if .Site.Params.agency.name }}{{ .Site.Params.agency.name }}{{ else }}{{ .Site.Title }}{{ end }}</h3>
            <address ckass="usa-footer__address">

              <div class="usa-footer__contact-info grid-row grid-gap">
                {{ if .Site.Params.agency.phone }}
                <div class="grid-col-auto">
                  <a href="tel:+1{{ replaceRE "[^0-9]" "" .Site.Params.agency.phone }}">{{ .Site.Params.agency.phone }}</a>
                </div>
                {{ end }}
                {{ if .Site.Params.agency.email }}
                <div class="grid-col-auto">
                  <a href="mailto:{{ .Site.Params.agency.email }}">{{ .Site.Params.agency.email }}</a>
                </div>
                {{ end }}
              </div>
            </address>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="{{ "/js/uswds.min.js?cachekey=20181109" | relURL }}"></script>
  <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>
  <script src="{{ "/js/plandocument.js?cachekey=20181109" | relURL }}"></script>
  <script type="module" src="https://unpkg.com/@ccrpc/charts@0.9.3/dist/ccrpc-charts/ccrpc-charts.esm.js"></script>
  <script nomodule src="https://unpkg.com/@ccrpc/charts@0.9.3/dist/ccrpc-charts/ccrpc-charts.js"></script>
  <script type='text/javascript' src='https://reportcard.ccrpc.org/static/reportcard/components/reportcard.js'></script>
</body>
</html>
