<div class="usa-media-block tablet:grid-col">
  <a href="{{ .Permalink }}">
    {{ $image := .Resources.GetMatch "banner.*" }}
    {{ if $image }}
    {{ $thumbnail := $image.Fill "124x124 Center" }}
    <img class="usa-media-block__img plandoc-rounded-thumbnail" src="{{ $thumbnail.RelPermalink }}" aria-hidden="true">
    {{ else }}
    <img class="usa-media-block__img" src="{{ "/img/circle-124.png" | relURL }}" aria-hidden="true">
    {{ end }}
  </a>
  <div class="usa-media-block__body">
      <h3 class="usa-graphic-list__heading">{{ .Title }}</h3>
      {{ if or .Params.abstract .Summary }}
      <p>{{ (default .Summary .Params.abstract) | htmlEscape }}</p>
      {{ end }}
      <p>
        <a href="{{ .Permalink }}">
          Learn more
          <span class="usa-sr-only"> about {{ .Title }}</span>
        </a>
      </p>
  </div>
</div>
