{{ if .Site.Params.analytics.measurementId }}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.analytics.measurementId }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ .Site.Params.analytics.measurementId }}');
</script>
{{ end }}
