<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,400i,700' />
  <link rel="stylesheet" href="{{ "/css/styles.css?cachekey=20210505" | relURL }}" />
  {{ partial "header_style.html" . }}
  {{ partial "header_analytics.html" . }}
  {{ partial "header_custom.html" . }}
</head>

<body {{ with .Site.Params.comments.email }}data-comments-email="{{ . }}"{{ end }} {{ with .Site.Params.comments.subject }}data-comments-subject="{{ . }}"{{ end }}>
  <a class="usa-skipnav" href="#main-content">Skip to main content</a>
  <div class="usa-overlay"></div>
  <header class="usa-header usa-header--extended" role="banner">
    <div class="usa-navbar">
      {{ if .Site.Params.header.logo }}
      <div class="plandoc-logo-secondary">
        {{ if .Site.Params.header.logoUrl }}<a href="{{ .Site.Params.header.logoUrl }}">{{ end }}
          <img src="{{ .Site.Params.header.logo | relURL }}" alt="{{ .Site.Params.header.logoAlt }}">
        {{ if .Site.Params.header.logoUrl }}</a>{{ end }}
      </div>
      {{ end }}
      <div class="usa-logo" id="extended-logo">
        <em class="usa-logo__text">
          <a href="{{ "/" | relURL }}"
            title="Home"
            aria-label="Home">{{ .Site.Title }}</a>
        </em>
      </div>
      <button class="usa-menu-btn">Menu</button>
    </div>

    <nav role="navigation" class="usa-nav">
    	<div class="usa-nav__inner">
    		<button class="usa-nav__close">
    			<img src="{{ "/img/close.svg" | relURL }}" alt="Close">
    		</button>
    		<ul class="usa-nav__primary usa-accordion">
          {{ $currentPage := . }}
          {{ range $index, $element := .Site.Menus.main }}
          <li class="usa-nav__primary-item">
            {{ if $element.Page.Pages }}
            <button class="usa-accordion__button usa-nav__link {{ if $currentPage.InSection .Page }}usa-current{{ end }}" aria-expanded="false" aria-controls="extended-nav-section-{{ $index }}">
              <span>{{ .Name }}</span>
            </button>
            <div id="extended-nav-section-{{ $index }}" class="usa-nav__submenu">
              <ul class="usa-nav__submenu-list">
                {{ range .Page.Pages }}
                <li class="usa-nav__submenu-item">
                  <a href="{{ .Permalink }}">{{ .Title }}</a>
                </li>
                {{ end }}
              </ul>
            </div>
            {{ else }}
            <a class="usa-nav__link {{ if eq $currentPage .Page }}usa-current{{ end }}" href="{{ .URL }}">
              <span>{{ .Name }}</span>
            </a>
            {{ end }}
          </li>
          {{ end }}
    		</ul>
    		<div class="usa-nav__secondary">
          <ul class="usa-nav__secondary-links">
            <li class="usa-nav__secondary-item">
              <a href="https://ccrpc.org/index.php"> CCRPC Home </a>
            </li>
            {{ range .Site.Menus.eyebrow }}
            <li class="usa-nav__secondary-item">
              <a href="{{ .URL }}">
                <span>{{ .Name }}</span>
              </a>
            </li>
            {{ end }}
          </ul>
    		</div>
    	</div>
    </nav>
  </header>
