{{ if .Pages }}
<section class="usa-section usa-section--dark usa-graphic-list">
  <div class="grid-container">
    {{ range $index, $element := .Pages }}
    {{ if eq (mod $index 2) 0 }}
    {{ if gt $index 0 }}
    </div>
    {{ end }}
    <div class="usa-graphic-list__row grid-row grid-gap">
    {{ end }}
      {{ partial "graphic_list_item.html" . }}
    {{ end }}
    </div>
  </div>
</section>
{{ end }}
