{{ if .Page.CurrentSection }}
{{ if .Page.CurrentSection.Pages }}
{{ $pageUID := .Page.File.UniqueID }}
<aside>
  <nav>
    <ul class="usa-sidenav">
      {{ range .Page.CurrentSection.Pages }}
      <li class="usa-sidenav__item">
        {{ if eq $pageUID .File.UniqueID }}
        <a class="usa-current" href="{{ .Permalink }}">{{ .Title }}</a>
        {{ $headers := findRE "<h2.*?>(.|\n])+?</h2>" .Content }}
        {{ if $headers }}
        <ul class="usa-sidenav__sublist">
          {{ range $headers }}
            <li class="usa-sidenav__item">
              <a href="#{{ . | plainify | htmlEscape | urlize }}">{{ . | plainify | htmlEscape }}</a>
            </li>
          {{ end }}
        </ul>
        {{ end }}
        {{ else }}
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ end }}
      </li>
      {{ end }}
    </ul>
  </nav>
</aside>
{{ end }}
{{ end }}
