{{ range . }}
<aside class="plandoc-sidebar-content plandoc-sidebar-content-{{ index . "position" }}">
  {{ with (index . "title") }}<h2>{{ . }}</h2>{{ end }}
  {{ index . "content" | markdownify }}
</aside>
{{ end }}
