/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.usa-graphic-list {
  clear: both;
}

.plandoc-footer-logo img {
  height: 80px;
}

.plandoc-rounded-thumbnail {
  border-radius: 50%;
}

figure.plandoc-image {
  margin: 1em 0;
  @include at-media('tablet') {
    &.plandoc-image-left {
      clear: both;
      float: left;
      margin-right: 1em;
      width: 50%;
    }
    &.plandoc-image-right {
      clear: both;
      float: right;
      margin-left: 1em;
      width: 50%;
    }
  }
  .plandoc-image-caption {
    font-size: 80%;
  }
  .plandoc-image-attr {
    font-size: 80%;
    font-style: italic;
  }
}

.usa-nav {
  background-color: white;
}

@include at-media('desktop') {
  .usa-header {
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: -82px;
    &:before,
    &:after {
      content: '';
      display: table;
    }
  }
}

@include at-media('desktop') {
  .usa-header {
    border-bottom: 1px solid #dbdee1;
  }
  .usa-header + .usa-section,
  .usa-header + main {
    border-top: 0 none transparent;
  }
}

p,
.usa-prose p {
  max-width: 100%;
}

@include at-media('desktop') {
  .usa-logo__text {
    font-size: 1.25rem;
  }
  aside.usa-layout-docs-sidenav nav {
    position: -webkit-sticky;
    position: sticky;
    top: 46px;
    &:before,
    &:after {
      content: '';
      display: table;
    }
  }
}

.plandoc-logo-secondary {
  display: none;
  float: right;
}

@include at-media('tablet') {
  .plandoc-logo-secondary {
    display: block;
    order: 1;
    img {
      height: 2rem;
      margin: 0.5rem 1rem 0 0;
    }
  }
  .usa-menu-btn {
    order: 2;
  }
}

@include at-media('desktop') {
  .plandoc-logo-secondary {
    img {
      height: 3rem;
      margin: 1rem 0 0 0;
    }
  }
}

.plandoc-image-expander,
.plandoc-overlay {
  display: none;
}

@include at-media('tablet') {
  .plandoc-overlay {
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.85);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    figure.plandoc-image {
      display: inline-block;
      float: none;
      margin: 0 auto;
      max-width: 80%;
      width: auto;
    }
    figcaption {
      margin-top: 0.25em;
    }
    a {
      color: color($theme-color-accent-cool-light);
    }
  }
  .plandoc-image-wrapper {
    text-align: right;
    position: relative;
    img {
      display: block;
      max-height: 80vh;
    }
  }
  .plandoc-image-expander {
    background-color: color($theme-color-primary);
    border: 0 none transparent;
    bottom: 0;
    color: white;
    display: inline-block;
    line-height: 1;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    ion-icon {
      font-size: 24px;
    }
  }
}

a.plandoc-heading-permalink,
a.plandoc-heading-permalink:visited {
  opacity: 0;
  color: color($theme-color-primary);
  font-size: 0.8em;
  font-weight: 700;
  padding-left: 10px;
  position: relative;
  text-decoration: none;
  top: -0.17em;
  transition: opacity 200ms ease-in-out;
}

*:hover > a.plandoc-heading-permalink,
*:hover > a.plandoc-heading-permalink:visited,
a.plandoc-heading-permalink:focus,
a.plandoc-heading-permalink:active {
  opacity: 1;
}

a.plandoc-send-comment {
  color: #888888;
  float: right;
  margin-left: 0.5em;
  &:active,
  &:focus,
  &:hover {
    color: black;
  }
}

.plandoc-sidebar-content {
  margin: 1rem 0 2rem;
}

@media print {
  .usa-hero,
  .usa-menu-btn,
  .usa-sidenav,
  .usa-footer__return-to-top,
  .usa-footer__primary-section,
  .plandoc-comments-alert,
  .plandoc-send-comment {
    display: none;
  }
  .usa-header {
    position: static !important;
  }
  #main-content .grid-row {
    display: block !important;
  }
  .usa-prose > .plandoc-comments-alert+h1 {
    margin-top: 0;
  }
  .usa-accordion__button {
    background-image: none !important;
  }
  .usa-accordion [hidden] {
    display: block !important;
  }
  .plandoc-image-left {
    clear: both;
    float: left;
    margin-right: 1em;
    width: 50%;
  }
  .plandoc-image-right {
    clear: both;
    float: right;
    margin-left: 1em;
    width: 50%;
  }
  .plandoc-content a[href]::after {
    content: " (" attr(href) ")";
  }
}

// Style for the custom shortcode hyperlink_title
.hyperlink_title {
  text-decoration: underline;
  text-decoration-color: crimson;
  text-underline-offset: 5px;
}

// Style for the custom shortcode hyperlink
.hyperlink {
  text-decoration: underline;
  color: blue;
}

// Style for the custom shortcode resource_bank_search
.resource_bank_search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.resource_bank_search_box {
  display: flex;
  width: 80%;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  padding: 15px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9dbfaf;
}