<div class="resource_bank_search">
	<b><p>Search for available resources by entering keywords in the box below. Separate multiple keywords with spaces.</p></b>
	<div class="resource_bank_search_box">
		<input type="text" class="searchTerm" placeholder="Enter Search Keywords..." />
		<!-- Javascript -->
		<!-- JavaScript -->
		<script>
			// Get the search input element
			const searchInput = document.querySelector('.searchTerm');

			// Add an event listener for input change
			searchInput.addEventListener('input', function () {
				const searchTerm = this.value.toLowerCase();

				// Split the search term into individual tags based on spaces and filter out empty tags
				const searchTags = searchTerm.split(' ').filter(tag => tag !== '');

				// Get all hyperlinks
				const hyperlinks = document.querySelectorAll('.hyperlink');

				// Loop through hyperlinks and hide/show based on search term
				for (let i = 0; i < hyperlinks.length; i++) {
					const hyperlink = hyperlinks[i];
					const linkTags = hyperlink.getAttribute('data-tags').toLowerCase().split(/\s*,\s*/);

					// Check if any of the link tags start with any of the search tags
					const isMatch = searchTags.some(function (tag) {
						return linkTags.some(function (linkTag) {
							return linkTag.startsWith(tag);
						});
					});

					// Show or hide the hyperlink based on the match
					hyperlink.style.display = isMatch ? 'inline' : 'none';
				}
			});
		</script>
	</div>
</div>